body {
    color: white;
    background-color: #1b262c;
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    color: #bbe1fa;
}

nav {
    width: 100%;
    height: 7vh;
    display: flex;
}

img {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

i {
    color: white;
}

#hamburger-menu {
    position: absolute;
    display: block;
    right: 0;
    top: 2;
    margin: 4px;
}

.blue {
    background-color: #0f4c75;
}

#viz {
    width: 5vh;
    height: 70%;
}

.slide-container {
    align-items: center;
    margin: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 15vh;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3282b8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3282b8;
    cursor: pointer;
}

.choose-file {
    float: right;
    color: white;
    /* overflow: hidden;; */
}

.btn {
    background-color: #0f4c75;
    margin: 1vh;
}

#navbarNav a:hover,
#navbarNav a:focus {
    background-color: #3282b8;
    padding-bottom: 4px;
    border-bottom: 4px solid #bbe1fa;
}

.card {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    display: inline-block;
    width: 13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: width 1s;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:link {
    color: inherit;
    text-decoration: inherit;
}

.card:hover {
    background-color: #0f4c75;
    width: 20rem;
    color: inherit;
}

.bg-image {
    position: absolute;
    background-image: url("../src/imgs/placeholderviz.jpg");
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    width: 100%;
    height: 80%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.song-info {
    position: relative;
    z-index: 2;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.visualizer {
    position: relative;
    z-index: 2;
    height: 70%;
    width: 70%;
    align-self: center;
    justify-content: center;
    vertical-align: middle;
}

#dropMenu {
    position: absolute;
    right: 15px;
    z-index: 3;
}

/* ---------------------------------------------visualizer styling---------------------------------------------*/
#thefile {
    position: relative;
    top: 10px;
    left: 10px;
    /* z-index: 100; */
}

#canvas {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 90%;
    vertical-align: middle;
}

audio {
    position: relative;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}


@media (min-width: 768px) {}

@media (min-width: 992px) {
    #hamburger-menu {
        display: none;
    }

    .song-info::-webkit-scrollbar {
        display: none;
    }

}

@media (min-width: 1200px) {}
    #canvas {
        max-height: 1000px;
    }
/* body {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    background-color: #1b262c;
}
a {
    color: #3282b8;
}
img {
    width: 300px;
}


.visualizer {
    width: 100%;
}
.visualizer img {
    width: 100%;
}

.icon {
    width: 8vh;
    height: auto;
}
#hamburger-menu {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width: 598px) {

} */