body {
    color: white;
    background-color: #1b262c;
    font-family: 'Noto Sans JP', sans-serif;
}

.spotify {
    width: 25vh;
}
a {
    color: #bbe1fa;
}
/* Nav styling */
nav {
    width: 100%;
    height: 7vh;
    display: flex;
}
img {
    width:320px;
    height: auto;
}
i {
    color: white;
}
#hamburger-menu {
    position: absolute;
    display: block;
    right: 0;
    top: 2;
    margin: 4px;
}
.blue {
    background-color: #0f4c75;
}
#viz {
    width: 5vh;
    height: auto;
}
#navbarNav a:hover, #navbarNav a:focus {
    background-color: #3282b8;
    padding-bottom: 4px;
    border-bottom: 4px solid #bbe1fa;
  }
  #dropMenu {
    position: absolute; 
    right: 15px;
}

  body, html {
    height: 100%;
  }
  
  .parallax1 {
    /* The image used */
    background-image: url(https://wallpapercave.com/wp/wp3031960.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url(https://images.8tracks.com/cover/i/002/163/717/worlds-4234.png?rect=99,0,1531,1531&q=98&fm=jpg&fit=max&w=1024&h=1024);
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section {
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      background:rgba(73, 77, 74, 0.6);
  }

  #heading h1{
      padding: 1rem;
      margin-bottom: 0px;
  }

  ol {
      margin-bottom: 0px;
  }

  .h6 {
      margin-bottom: 0px;
  }

/* Make responsive */
@media (min-width: 768px) {
    img {
        width: 786px;
    }
}
@media (min-width: 992px) {
    #hamburger-menu {
        display: none;
    }
    img {
        width: 992px;
    }
}
@media (min-width: 1440px)
{
    img {
        width: 1440px;
    }
}