 body {
     background-color: 	#1b262c;
     height: 100vh;
     
 }

 .fa-bars {
   color: white;
 }

 .purple {
  background-color: #0f4c75;
}

 img {
  width:320px;
  height: auto;
}

#viz {
  width: 5vh;
  height: auto;
}

 nav {
  width: 100%;
  height: 7vh;
  display: flex;
}


table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table, td, th {
  padding: 5px;
  border-bottom: 1px solid #d3d3d3;
}
/* table {
  border-collapse: collapse;
} */

th {
  text-align: left;
  color: white;
  background-color: #0f4c75;
  height: 2rem;
}

img {
  height: 100px;
}

tr {
  background-color: #1b262c;
  color: white;
  text-align: left;
}

tr:hover {
  background-color: #2c393f;
  
}

#navbarNav a:hover, #navbarNav a:focus {
  background-color: #3282b8;
  border-bottom: .6rem solid #bbe1fa;
  padding-bottom: .65rem;
}
 
 

  
  

  .fa-play-circle {
    color:#bbe1fa;
    /* size: 20rem; */
    /* size: 100%; */
  }


  .header {
    padding: 30px;
    text-align: left;
    background: #1b262c;
    color: white;
    font-size: 30px;
  }
  


.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 100%;
  height: 32px;
  /* position: absolute; */
  margin-right: auto;
  margin-left: auto;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  /* text-align: center; */
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
  
}

body {
  background: linear-gradient(90deg, #0a2132, #267bb4);
}

#footer {
  color: white;
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
  /* Style the active link (or home/logo) */
  @media (min-width: 598px) 
  {
    table, td {
      padding: 15px;
      border-bottom: 1px solid #d3d3d3;
    }

    th {
      padding-left: 15px;
    }
  }


  @media (min-width: 768px)
{

    
    .topnav a {
      display: inline;
    }
 
    
    nav li {
      display: inline;
    }

}

@media (min-width:992px)
{

  #hamburger-menu {
    display: none;
  }


  table, td {
    padding: 30px;
    border-bottom: 1px solid #d3d3d3;
  }

    
}

@media (min-width: 1200px)
{
    
}