 body {
     background-color: 	#1b262c;
     height: 100vh;
     
 }

 .navbar .navbar-inverse {
   display: none;
 }

 .fa-bars {
   color: white;
 }

 .purple {
  background-color: #0f4c75;
}

 img {
  width:320px;
  height: auto;
}

#viz {
  width: 5vh;
  height: auto;
  position: fixed;
  top: 10px;
}

 nav {
  width: 100%;
  height: 7vh;
  display: flex;
}


table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: left;
}

table, td, th {
  font-size: 15px;
  padding: 15px;
  border-bottom: 1px solid #d3d3d3;
  border-left: 0rem;
  border-right: 0rem;
}
/* table {
  border-collapse: collapse;
} */

th {
  text-align: left;
  color: white;
  background-color: #0f4c75;
  height: 2rem;
}

img {
  height: 100px;
}

tr {
  background-color: #1b262c;
  color: white;
  text-align: left;
}

tr:hover {
  background-color: #2c393f;
  text-decoration: underline;
  cursor: pointer;
  
}

.padding-song{
  padding-right: 0.5rem;
}

.small-col {
  width: 40px;
}

form {display: inline;}

#navbarNav a:hover, #navbarNav a:focus {
  background-color: #3282b8;
  padding-bottom: 4px;
  border-bottom: 4px solid #bbe1fa;
}
 
  .fa-play-circle {
    color:#bbe1fa;
    /* size: 20rem; */
    /* size: 100%; */
  }

  .header {
    padding: 0.25rem;
    text-align: center;
    /* background: #1b262c; */
    color: white;
    font-size: 30px;
  }

  #playlist-cover {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    /* background-color: #1b262c; */
  }
  
  #playlist-cover img{
    padding: 1rem;
    width: auto;
    height: 100%;
  }

  #add-song {
    text-align: center;
    /* background-color: #1b262c; */
    border-color: #1b262c;
    padding-bottom: 0.5rem;
  }

  #add-song button{
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: green;
    border: 1px solid white;
    border-radius: 25px;
    /* border: 0px; */
  }
#add-song button:hover {
  background-color: rgb(137, 182, 69);
  cursor: pointer;
}
  
#add-song #play {
  /* padding-right: 2rem; */
  background-color: #1b262c;
  border-color: white;
  /* border: 1px solid white; */
}

#add-song #play:hover {
  background-color: #2c393f;
  cursor: pointer;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 100%;
  height: 32px;
  /* position: absolute; */
  margin-right: auto;
  margin-left: auto;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  /* text-align: center; */
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
  
}

body {
  /* background: linear-gradient(90deg, #0a2132, #267bb4); */
  background: -webkit-linear-gradient(to right, #37d5d6, #1752ab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #37d5d6, #1752ab);
}

#footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  text-align: center;
}

.fa-heart:hover {
  color: palevioletred;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding:7px;
  font-size: 17px;
  border: 1px solid grey;
  /* float: right; */
  width: 30%;
  background: #f1f1f1;
  border-radius: 25px;
  text-indent: 10px;
}

/* Style the submit button */

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

#dropMenu {
  position: absolute; 
  right: 15px;
}

#search-table {
  display: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#search-table table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}

#back-button {
  color: wheat;
  border-width: 3px;
  border-radius: 25px;
  background-color: rgb(70, 143, 177);
  padding: 0.5rem;
  width: 15%;
  border-color: wheat;
  
}

.add-btn-color {
  color: greenyellow;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

  /* Style the active link (or home/logo) */
  @media (min-width: 598px) 
  {
    table, td, th {
      padding: 15px;
      border-bottom: 1px solid #d3d3d3;
      font-size: 16px;
    }
    .small-col {
      width: 100px;
    }


    
  }


  @media (min-width: 768px)
{

    
    .topnav a {
      display: inline;
    }
 
    
    /* nav li {
      display: inline;
    } */

}

@media (min-width:992px)
{

  #hamburger-menu {
    display: none;
  }
  #viz {
    position: static;
  }
    
}

@media (min-width: 1200px)
{
    
}