.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  min-height: 80vh;
}

body {
  color: white;
}

a {
  color: white;
}

a:hover {
  color: #17A2B8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* <-------------------------------------------------- RectVis-------------------------------------------------------> */
#canvas {
  position: relative;
  height: auto;
  max-height: 80vh;
  vertical-align: middle;
}

/* <-------------------------------------------------- NavBar -------------------------------------------------------> */
.navbar-dark .navbar-nav .nav-link {
  text-align: left;
  padding-left: 2.5rem;
}

/* <---------------------------------------------------- Footer ---------------------------------------------------------> */
#footer {
  width: 100%;
  background-color: rgb(52,58,64);
  height: 15vh;
  position: relative;
  bottom: 0;
}

/* <---------------------------------------------------- SongCard ---------------------------------------------------------> */
.card {
  background-color: rgba(255, 255, 255, .15);
  /* backdrop-filter: blur(5px); */
  display: inline-block;
  width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 1s;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
  background-color: #0f4c75;
  /* width: 20rem; */
  color: inherit;
}


/* <---------------------------------------------------- HomePage ---------------------------------------------------------> */
#songCardSection {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(35,255,116,1) 0%, rgba(44,147,87,1) 9%, #04080b 20%);
}

#songCardList {
  position: relative;
  /* z-index: 2; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#songCardList::-webkit-scrollbar {
  display: none;
}

/* <---------------------------------------------------- PlayList ---------------------------------------------------------> */

.wrapper {
margin-top: 50px;
}
.wrapper_section_2 {
margin-top: 10px;
}
.wrapper h1 {
color: #fff;
text-align: center;
font-weight: bold;
}

.card {
width: 190px;
height: 180px;
margin: 15px;
position: relative;
min-width: 190px;
background: #000;
}
.card:hover .overlayer {
visibility: visible;
}
img {
width: 100%;
height: 100%;
}

.overlayer {
top: 0;
right: 0;
width: 100%;
height: 100%;
position: absolute;
background: rgba(0,0,0,0.6);
text-align: center;
visibility: hidden;
}

.overlayer .fa-play-circle, .fa-plus-circle {
color: #fff;
font-size: 73px;
margin-top: 53px;
transition: 100ms ease-in-out;
}
.fa-play-circle:hover {
transform: scale(1.1);
}   

.toplist {
  width: 70%;
  color: white;
  margin-right: auto;
  margin-left: auto;
  background-image: url(https://i.ytimg.com/vi/Iu9MVgMYrEY/maxresdefault.jpg);
}



.card {
  background-color: seashell;
}

.fa-plus-circle {
  padding-left: 3rem;
  margin: 0px;
  font-size: 50px;
  /* margin-bottom: auto; */
  /* padding-top: 10px; */
  /* font-size: 100rem; */
}

.fa-plus-circle:hover {
  transform: scale(1.2);
  cursor: pointer;
}



/*NavBar styles*/
nav {
  width: 100%;
  height: 7vh;
  display: flex;
}
/* img {
  display: inline-block;
  position: relative;
  width:100%;
  height: 100%;
  overflow: hidden;
} */
i {
  color: white;
}

#hamburger-menu {
  position: absolute;
  display: block;
  right: 0;
  top: 2;
  margin: 4px;
}
.blue {
  background-color: #0f4c75;
}
#viz {
  width: 5vh;
  height: 70%;
}
#navbarNav a:hover, #navbarNav a:focus {
  background-color: #3282b8;
  padding-bottom: 4px;
  border-bottom: 4px solid #bbe1fa;
}
#dropMenu {
  position: absolute; 
  right: 15px;
  z-index: 3;
}

.submit {
  padding-top: 10px;
  border-radius: 10px;
}

.name-form {
  border: skyblue;
  margin-top: 0.8rem;
  padding: 1rem;
  background: rgba(73, 76, 77, 0.3);
  border-radius: 15px;
}

.form-card {
  width: fit-content;
}

#name, #url {
  padding:7px;
  font-size: 17px;
  border: 1px solid grey;
  /* float: right; */
  background: #f1f1f1;
  border-radius: 25px;
  text-indent: 10px;
}

button, #name, #url {
  border-radius: 10px ;
}

#submit-button {
  color: white;
  background-color: rgb(24, 100, 242);
  margin-right: 10px;
}

#mylist, #circle {
  display: inline-block;
  /* margin-right: auto; */
  /* margin-left: auto; */
}

#title-playlist, #trending {
  text-align: center;
  margin: 1rem;
}



/* ------------------------------------------ SongTable ------------------------------------------- */

.song-table {
  margin-left: 9vw;
  margin-right: auto;
  border-bottom: 1px solid #ddd;
  width: 80%;
}

.fa-heart:hover {
  color: palevioletred;
}

tr:hover {
  background-color: #79d4ff;
  text-decoration: underline;
  cursor: pointer;
  
}

.playlist-cover img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 25vw;
  height: auto;
}

.search-song {
  margin-left: 9vw;
}

.search-song button {
  background-color: rgb(18, 87, 87);
  color: white;
}

.add-song {
  margin-left: auto;
  margin-right: auto;
}

.album {
  width: 10vw;
  height: auto;
}

.my-list {
  display: block;
}




@media (min-width: 768px) 
{
  .playlist-cover img {
    width: 15vw;
  }
}

@media (min-width:992px)
{

  .album {
    width: 8vw;
    height: auto;
  }


  
}